/* 通用样式 */
body {
    background-color: #121212;
    color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.control-btn {
    background: none;
    border: none;
    color: #aaa;
    cursor: pointer;
    margin-right: 8px;
}
.control-btn:hover {
    color: #0d6efd;
}