<!DOCTYPE html><html><head><style>body {transition: opacity ease-in 0.2s; }
body[unresolved] {opacity: 0; display: block; overflow: hidden; position: relative; }
</style>
    <meta charset="utf-8">
    <title>在线音乐制作、混音、拼接 - aoqiv Studio</title>
    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="description" content="">
    <meta name="title" content="在线音乐制作、混音、拼接 - aoqiv Studio">
    <meta name="keywords" content="在线音乐制作、音频拼接、音频混音、音乐编曲 - aoqiv studio">
    <meta name="description" content="在线音频制作网站,音乐制作，多音频拼接，多音频混音，在线歌曲编曲，一款好用的在线音乐制作工具 - aoqiv studio">
    <meta name="theme-color" content="#1c1e21">
    <meta http-equiv="origin-trial" content="AoeMBvLez3AcG8idJVdEZfG3xWtiJsCW4GzIOcxsqPuXu3YOEqBTdEWiCgvgE4UXtcSfxoVPprJrDzV3Fk0kaQAAAAB3eyJvcmlnaW4iOiJodHRwczovL3d3dy5hb3Fpdi5jb206NDQzIiwiZmVhdHVyZSI6IlVucmVzdHJpY3RlZFNoYXJlZEFycmF5QnVmZmVyIiwiZXhwaXJ5IjoxNzUzMTQyNDAwLCJpc1N1YmRvbWFpbiI6dHJ1ZX0=">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#fff">
    <meta name="application-name" content="aoqiv-studio">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="aoqiv-studio">
    <meta name="msapplication-TileColor" content="#fff">
    <meta name="msapplication-TileImage" content="assets/mstile-144x144.png">
    <meta name="msapplication-config" content="assets/browserconfig.xml">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        .ErrorPage-backgroundImage {
            opacity: 0.5 !important
        }
    </style>
<script charset="utf-8" src="https://hmcdn.baidu.com/static/tongji/plugins/UrlChangeTracker.js"></script><script src="https://hm.baidu.com/hm.js?851968176fa95038128c455bc0cd02a7"></script><script src="./2809cd1693192d6bf7df.worklet.js"></script><style type="text/css">.ErrorPage {
  overflow: hidden;
  background-color: #1b1b1b;
  color: #fff8de;
  width: 100%;
  height: 100vh;
  padding: 1px;
  font-family: Roboto;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: default;
}
.ErrorPage.mini {
  width: 850px;
  height: 200px;
  margin: 0 auto;
}
.ErrorPage.mini .ErrorPage-inner {
  width: 600px;
  margin-top: -20px;
}
.ErrorPage a {
  color: #279fcd;
}
.ErrorPage a:hover {
  text-decoration: underline;
}
.ErrorPage-inner {
  z-index: 1;
  width: 50%;
  max-width: 600px;
}
.ErrorPage-logoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 1%;
  left: 0;
  text-align: center;
  opacity: 0.4;
  pointer-events: none;
}
.ErrorPage-logo {
  height: 40%;
  position: relative;
  color: #fff8de;
  opacity: 0.5;
}
.ErrorPage-backgroundImage {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  opacity: 0.45;
  left: 0;
  top: 0;
  pointer-events: none;
}
</style></head>

<body id="body">

    <div class="ErrorPage"><img src="/static/img/studio.jpg" class="ErrorPage-backgroundImage"> <div class="ErrorPage-inner"><p>Aoqiv Studio不支持您当前所使用的浏览器,请使用以下浏览器来操作.</p> <span><!----> <a href="https://www.google.cn/intl/zh-CN/chrome/" target="_blank">Google Chrome(谷歌浏览器)</a><span>, </span></span><span><!----> <a href="http://www.opera.com" target="_blank">Opera(欧朋浏览器)</a><span>, </span></span><span><span>或</span> <a href="https://vivaldi.com/zh-hans/" target="_blank">Vivaldi浏览器</a><!----></span>.
  </div></div>
    <div class="modal micromodal-slide modal_feedback js-action-wxlogin-modal">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close="">
            <div class="modal__container" role="dialog" aria-modal="true">
                <div class="modal__close js-action-wxlogin-modal-close" aria-label="关闭">
                    <div data-micromodal-close="" class="icon"></div>
                </div>
                <div class="modal__content" id="wxlogin-container-box"></div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="/static/css/global.css?085o" type="text/css">
    <!--pay model start-->
    <div class="bootstrap">
        <div class="modal js-action-member-model" tabindex="-1" style=" display: none; padding-left: 0px;">
            <div class="modal-dialog modal-dialog-centered modal-custom modal-custom-xl smaller-padding modal-premium modal-premium-entry warning">
                <div class="modal-content">
                    <button type="button" class="close js-action-member-model-close" data-dismiss="modal">
                    </button>
                    <div class="modal-header-entry">
                        <div class="padding">
                            <div class="modal-title"></div>
                            <div class="modal-desc">
                                尊敬的用户，本站所有功能需要会员才能使用，升级成为会员解除此限制。给你带来不便，敬请谅解!
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="state initial go-premium">
                            <div class="h">VIP 权益（本站所有服务）</div>
                            <div class="benefits">
                                <div class="benefit">
                                    音频剪辑器，使用不限次数、不限音频大小
                                </div>
                                <div class="benefit">
                                    多音频混音，使用不限次数、不限音频个数
                                </div>
                                <div class="benefit">
                                    多音频拼接，使用不限次数、不限音频个数
                                </div>
                                <div class="benefit">
                                    音频转换格式，使用不限次数、不限音频大小
                                </div>
                                <div class="benefit">
                                    在线录制音频、在线录制视频，使用不限次数
                                </div>
                                <div class="benefit">
                                    在线音乐创作、节拍制作、编辑音乐标签不限
                                </div>
                                <div class="benefit">
                                    在线视频编辑器，使用不限次数
                                </div>
                                <div class="benefit">
                                    在线人工服务，工作日09:00~18:00点
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="price-container">
                                <div class="price">
                                    <span class="price-value">
                                        <span class="currency left" title="CNY">¥</span>
                                        <span class="amount"></span>
                                    </span>
                                    <span class="period"></span>
                                </div>
                                <div class="billing-type">
                                    <div class="my-radio-group"></div>
                                </div>
                            </div>
                            <div class="bootstrap">
                                <button type="submit" class="btn btn-premium go-premium-button" id="js-action-trigger-buy">购买VIP</button>
                                <p style="text-align:center;margin-top:4px;color:#8997AB;">购买使用即代表同意本站<a href="/privacy-policy.html" target="_blank">会员用户协议</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal js-action-member-payment" style="display: none; padding-left: 0px;">
            <div class="modal-dialog modal-dialog-centered modal-custom modal-custom-xl">
                <div class="modal-content">
                    <div class="state initial" style="display: block;">
                        <div class="modal-header">
                            <div class="modal-title">
                                <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1997" width="40" height="40">
                                    <path d="M390.381889 644.799817c-61.291983 37.02299-70.38298-20.775994-70.38298-20.775994l-76.809978-194.149945c-29.559992-92.261974 25.575993-41.596988 25.575993-41.596988s47.308987 38.763989 83.216976 62.383982c35.88599 23.631993 76.788978 6.939998 76.788979 6.939998L930.949736 206.529942C838.289763 81.646977 685.246806 0 511.974855 0 229.204935 0 0 217.291938 0 485.351863 0 639.554819 75.889979 776.76978 194.115945 865.709755l-21.321994 132.755962s-10.399997 38.752989 25.622993 20.775994c24.539993-12.242997 87.107975-56.183984 124.357965-82.886976A535.231848 535.231848 0 0 0 511.999855 970.714725c282.74792 0 511.998855-217.291938 511.998855-485.351862 0-77.640978-19.319995-150.969957-53.532985-216.062939C810.45977 373.565894 438.327876 615.889826 390.381889 644.799817z" fill="#24AF41" p-id="1998"></path>
                                </svg>
                                微信支付二维码
                            </div>
                            <div class="modal-desc">
                                打开微信扫一扫，轻松支付
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="form-group input-icon-container" style="text-align:center;">
                                <img id="pay-qr-code" alt="" width="200px" height="200px">
                            </div>
                            <div class="form-group input-icon-container" style="text-align:center;margin-top:-20px;">
                                <span id="pay-how-much-money" style="font-size:30px;color: #FB4044;"></span>
                            </div>
                            <div style="text-align:center;font-size:22px;font-weight:400;color:#ff5b29;">
                                P.S. 在线工具，不需要折腾下载与安装<br>帮您节约工作时间提高工作效率
                            </div>
                        </div>
                    </div>
                    <div class="state success" style="display: none;">
                        <i class="icon icon-modal-success"></i>
                        <p class="h">Thank you</p>
                        <p class="d">支付成功</p>
                        <button class="btn btn-primary btn-block js-action-member-payment-close">关 闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--pay model end-->
    <script type="text/javascript" src="/studio/com.7fc2eb398a0a80c3b298872b3ba15b26ecabbf82.js?085b"></script>
    <script type="text/javascript" src="/studio/app.7fc2eb398a0a80c3b298872b3ba15b26ecabbf82.js?085f"></script>
    <script src="./preloader.bundle.7fc2eb398a0a80c3b298872b3ba15b26ecabbf82.js?085c"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?851968176fa95038128c455bc0cd02a7";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>


</body></html>